body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(252, 251, 245);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgb(220, 30, 131); 
  color: white; 
  text-align: center;    
  padding: 10px; 
  font-size: 1.5rem; 
}

.menu-bar {
  background-color: transparent; 
  padding: 5px; 
  display: flex; 
  justify-content: space-around; 
}

.menu-bar button {
  background-color: transparent; 
  color: white; 
  border: none; 
  padding: 5px 10px; 
  cursor: pointer; 
  font-size: 1rem; 
  transition: background-color 0.3s; 
}

.menu-bar button:hover {
  background-color: rgba(255, 255, 255, 0.2); 
}

.content {
  text-align: center;
  flex-grow: 1; 
}

.pension-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.app-button {
  padding: 15px 30px;
  margin: 5px;
  border: none;
  border-radius: 50px;
  background-color: rgb(220, 30, 131);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.5rem;
}

.app-button:hover {
  background-color: rgb(190, 20, 111);
}

.home-icon {
  width: 20px;
  height: 20px; 
  margin-left: 5px;
  vertical-align: middle; 
}




